server {
    listen 80;
    server_name {{ ansible_facts['default_ipv4']['address'] }};
    root /var/www/laravel/public;
    index index.php index.html;
    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php{{ php_fpm_version }}-fpm.sock;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    }
    {% for ip in laravel_allowed_subnets %}
    allow {{ ip }};
    {% endfor %}
    deny all;
}
